In [4]:
from pyspark.sql import SparkSession
import os

In [5]:
spark=SparkSession.builder.appName('dataProcessing').getOrCreate()

In [6]:
spark

In [7]:
df=spark.read.csv(os.path.join(os.getcwd(),'diabetes.csv'))

In [9]:
df.show()

+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+
|_c0|  _c1|   _c2|   _c3|   _c4|        _c5|   _c6|  _c7| _c8|   _c9|    _c10|    _c11|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+
| id|  age|gender|height|weight|cholesterol|  gluc|smoke|alco|active|pressure|diabetes|
|  0|18393|     f|   168|  62.0|        low|   low|    0|   0|     1|  110/80|       0|
|  1|20228|     m|   156|  85.0|       high|   low|    0|   0|     1|  140/90|       0|
|  2|18857|     m|   165|  64.0|       high|   low|    0|   0|     0|  130/70|       0|
|  3|17623|     f|   169|  82.0|        low|   low|    0|   0|     1| 150/100|       0|
|  4|17474|     m|   156|  56.0|        low|   low|    0|   0|     0|  100/60|       0|
|  8|21914|     m|   151|  67.0|     medium|medium|    0|   0|     0|  120/80|       1|
|  9|22113|     m|   157|  93.0|       high|   low|    0|   0|     1|  130/80|       1|
| 12|22584|     f|   178|  95.0|       high|  high|    0|   0|     1|  130/90|       1|
| 13|17668|     m|   158|  71.0|        low|   low|    0|   0|     1|  110/70|       0|
| 14|19834|     m|   164|  68.0|        low|   low|    0|   0|     0|  110/60|       0|
| 15|22530|     m|   169|  80.0|        low|   low|    0|   0|     1|  120/80|       0|
| 16|18815|     f|   173|  60.0|        low|   low|    0|   0|     1|  120/80|       0|
| 18|14791|     f|   165|  60.0|        low|   low|    0|   0|     0|  120/80|       0|
| 21|19809|     m|   158|  78.0|        low|   low|    0|   0|     1|  110/70|       0|
| 23|14532|     f|   181|  95.0|        low|   low|    1|   1|     1|  130/90|       0|
| 24|16782|     f|   172| 112.0|        low|   low|    0|   0|     0|  120/80|       1|
| 25|21296|     m|   170|  75.0|        low|   low|    0|   0|     0|  130/70|       0|
| 27|16747|     m|   158|  52.0|        low|  high|    0|   0|     1|  110/70|       0|
| 28|17482|     m|   154|  68.0|        low|   low|    0|   0|     0|  100/70|       0|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+
only showing top 20 rows

In [17]:
df=spark.read.option('header','true').csv(os.path.join(os.getcwd(),'diabetes.csv'),inferSchema=True)

In [19]:
df.head(3)

[Row(id=0, age=18393, gender='f', height=168, weight=62.0, cholesterol='low', gluc='low', smoke=0, alco=0, active=1, pressure='110/80', diabetes=0),
 Row(id=1, age=20228, gender='m', height=156, weight=85.0, cholesterol='high', gluc='low', smoke=0, alco=0, active=1, pressure='140/90', diabetes=0),
 Row(id=2, age=18857, gender='m', height=165, weight=64.0, cholesterol='high', gluc='low', smoke=0, alco=0, active=0, pressure='130/70', diabetes=0)]

In [20]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cholesterol: string (nullable = true)
 |-- gluc: string (nullable = true)
 |-- smoke: integer (nullable = true)
 |-- alco: integer (nullable = true)
 |-- active: integer (nullable = true)
 |-- pressure: string (nullable = true)
 |-- diabetes: integer (nullable = true)

In [21]:
df.show()

+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+
| id|  age|gender|height|weight|cholesterol|  gluc|smoke|alco|active|pressure|diabetes|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+
|  0|18393|     f|   168|  62.0|        low|   low|    0|   0|     1|  110/80|       0|
|  1|20228|     m|   156|  85.0|       high|   low|    0|   0|     1|  140/90|       0|
|  2|18857|     m|   165|  64.0|       high|   low|    0|   0|     0|  130/70|       0|
|  3|17623|     f|   169|  82.0|        low|   low|    0|   0|     1| 150/100|       0|
|  4|17474|     m|   156|  56.0|        low|   low|    0|   0|     0|  100/60|       0|
|  8|21914|     m|   151|  67.0|     medium|medium|    0|   0|     0|  120/80|       1|
|  9|22113|     m|   157|  93.0|       high|   low|    0|   0|     1|  130/80|       1|
| 12|22584|     f|   178|  95.0|       high|  high|    0|   0|     1|  130/90|       1|
| 13|17668|     m|   158|  71.0|        low|   low|    0|   0|     1|  110/70|       0|
| 14|19834|     m|   164|  68.0|        low|   low|    0|   0|     0|  110/60|       0|
| 15|22530|     m|   169|  80.0|        low|   low|    0|   0|     1|  120/80|       0|
| 16|18815|     f|   173|  60.0|        low|   low|    0|   0|     1|  120/80|       0|
| 18|14791|     f|   165|  60.0|        low|   low|    0|   0|     0|  120/80|       0|
| 21|19809|     m|   158|  78.0|        low|   low|    0|   0|     1|  110/70|       0|
| 23|14532|     f|   181|  95.0|        low|   low|    1|   1|     1|  130/90|       0|
| 24|16782|     f|   172| 112.0|        low|   low|    0|   0|     0|  120/80|       1|
| 25|21296|     m|   170|  75.0|        low|   low|    0|   0|     0|  130/70|       0|
| 27|16747|     m|   158|  52.0|        low|  high|    0|   0|     1|  110/70|       0|
| 28|17482|     m|   154|  68.0|        low|   low|    0|   0|     0|  100/70|       0|
| 29|21755|     f|   162|  56.0|        low|   low|    1|   0|     1|  120/70|       0|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+
only showing top 20 rows

In [8]:
df=spark.read.csv(os.path.join(os.getcwd(),'diabetes.csv'),
                  header=True,
                  inferSchema=True)

In [23]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cholesterol: string (nullable = true)
 |-- gluc: string (nullable = true)
 |-- smoke: integer (nullable = true)
 |-- alco: integer (nullable = true)
 |-- active: integer (nullable = true)
 |-- pressure: string (nullable = true)
 |-- diabetes: integer (nullable = true)

In [24]:
df.columns

['id',
 'age',
 'gender',
 'height',
 'weight',
 'cholesterol',
 'gluc',
 'smoke',
 'alco',
 'active',
 'pressure',
 'diabetes']

In [28]:
df.select(['cholesterol','active']).show()

+-----------+------+
|cholesterol|active|
+-----------+------+
|        low|     1|
|       high|     1|
|       high|     0|
|        low|     1|
|        low|     0|
|     medium|     0|
|       high|     1|
|       high|     1|
|        low|     1|
|        low|     0|
|        low|     1|
|        low|     1|
|        low|     0|
|        low|     1|
|        low|     1|
|        low|     0|
|        low|     0|
|        low|     1|
|        low|     0|
|        low|     1|
+-----------+------+
only showing top 20 rows

In [29]:
type(df.select(['cholesterol','active']))

pyspark.sql.dataframe.DataFrame

In [31]:
type(df['gluc']) #USELESS

pyspark.sql.column.Column

In [32]:
df.dtypes

[('id', 'int'),
 ('age', 'int'),
 ('gender', 'string'),
 ('height', 'int'),
 ('weight', 'double'),
 ('cholesterol', 'string'),
 ('gluc', 'string'),
 ('smoke', 'int'),
 ('alco', 'int'),
 ('active', 'int'),
 ('pressure', 'string'),
 ('diabetes', 'int')]

In [34]:
df.describe().show()

+-------+------------------+------------------+------+------------------+------------------+-----------+------+-------------------+--------------------+------------------+--------+------------------+
|summary|                id|               age|gender|            height|            weight|cholesterol|  gluc|              smoke|                alco|            active|pressure|          diabetes|
+-------+------------------+------------------+------+------------------+------------------+-----------+------+-------------------+--------------------+------------------+--------+------------------+
|  count|             70000|             70000| 70000|             70000|             70000|      70000| 70000|              70000|               70000|             70000|   70000|             70000|
|   mean|        49972.4199|19468.865814285713|  null|164.35922857142856|          74.20569|       null|  null|0.08812857142857143|0.053771428571428574|0.8037285714285715|    null|              0.25|
| stddev|28851.302323172742| 2467.251667241397|  null| 8.210126364538075|14.395756678511347|       null|  null|0.28348381676993667| 0.22556770360410555|0.3971790635049267|    null|0.4330157948732282|
|    min|                 0|             10798|     f|                55|              10.0|       high|  high|                  0|                   0|                 0| -100/70|                 0|
|    max|             99999|             23713|     m|               250|             200.0|     medium|medium|                  1|                   1|                 1|   99/71|                 1|
+-------+------------------+------------------+------+------------------+------------------+-----------+------+-------------------+--------------------+------------------+--------+------------------+

In [41]:
df = df.withColumn('suma',df['active']+df['alco']+df['smoke'])

In [42]:
df.show()

+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+----+
| id|  age|gender|height|weight|cholesterol|  gluc|smoke|alco|active|pressure|diabetes|suma|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+----+
|  0|18393|     f|   168|  62.0|        low|   low|    0|   0|     1|  110/80|       0|   1|
|  1|20228|     m|   156|  85.0|       high|   low|    0|   0|     1|  140/90|       0|   1|
|  2|18857|     m|   165|  64.0|       high|   low|    0|   0|     0|  130/70|       0|   0|
|  3|17623|     f|   169|  82.0|        low|   low|    0|   0|     1| 150/100|       0|   1|
|  4|17474|     m|   156|  56.0|        low|   low|    0|   0|     0|  100/60|       0|   0|
|  8|21914|     m|   151|  67.0|     medium|medium|    0|   0|     0|  120/80|       1|   0|
|  9|22113|     m|   157|  93.0|       high|   low|    0|   0|     1|  130/80|       1|   1|
| 12|22584|     f|   178|  95.0|       high|  high|    0|   0|     1|  130/90|       1|   1|
| 13|17668|     m|   158|  71.0|        low|   low|    0|   0|     1|  110/70|       0|   1|
| 14|19834|     m|   164|  68.0|        low|   low|    0|   0|     0|  110/60|       0|   0|
| 15|22530|     m|   169|  80.0|        low|   low|    0|   0|     1|  120/80|       0|   1|
| 16|18815|     f|   173|  60.0|        low|   low|    0|   0|     1|  120/80|       0|   1|
| 18|14791|     f|   165|  60.0|        low|   low|    0|   0|     0|  120/80|       0|   0|
| 21|19809|     m|   158|  78.0|        low|   low|    0|   0|     1|  110/70|       0|   1|
| 23|14532|     f|   181|  95.0|        low|   low|    1|   1|     1|  130/90|       0|   3|
| 24|16782|     f|   172| 112.0|        low|   low|    0|   0|     0|  120/80|       1|   0|
| 25|21296|     m|   170|  75.0|        low|   low|    0|   0|     0|  130/70|       0|   0|
| 27|16747|     m|   158|  52.0|        low|  high|    0|   0|     1|  110/70|       0|   1|
| 28|17482|     m|   154|  68.0|        low|   low|    0|   0|     0|  100/70|       0|   0|
| 29|21755|     f|   162|  56.0|        low|   low|    1|   0|     1|  120/70|       0|   2|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+----+
only showing top 20 rows

In [46]:
df = df.drop('suma')

In [47]:
df.show()

+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+
| id|  age|gender|height|weight|cholesterol|  gluc|smoke|alco|active|pressure|diabetes|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+
|  0|18393|     f|   168|  62.0|        low|   low|    0|   0|     1|  110/80|       0|
|  1|20228|     m|   156|  85.0|       high|   low|    0|   0|     1|  140/90|       0|
|  2|18857|     m|   165|  64.0|       high|   low|    0|   0|     0|  130/70|       0|
|  3|17623|     f|   169|  82.0|        low|   low|    0|   0|     1| 150/100|       0|
|  4|17474|     m|   156|  56.0|        low|   low|    0|   0|     0|  100/60|       0|
|  8|21914|     m|   151|  67.0|     medium|medium|    0|   0|     0|  120/80|       1|
|  9|22113|     m|   157|  93.0|       high|   low|    0|   0|     1|  130/80|       1|
| 12|22584|     f|   178|  95.0|       high|  high|    0|   0|     1|  130/90|       1|
| 13|17668|     m|   158|  71.0|        low|   low|    0|   0|     1|  110/70|       0|
| 14|19834|     m|   164|  68.0|        low|   low|    0|   0|     0|  110/60|       0|
| 15|22530|     m|   169|  80.0|        low|   low|    0|   0|     1|  120/80|       0|
| 16|18815|     f|   173|  60.0|        low|   low|    0|   0|     1|  120/80|       0|
| 18|14791|     f|   165|  60.0|        low|   low|    0|   0|     0|  120/80|       0|
| 21|19809|     m|   158|  78.0|        low|   low|    0|   0|     1|  110/70|       0|
| 23|14532|     f|   181|  95.0|        low|   low|    1|   1|     1|  130/90|       0|
| 24|16782|     f|   172| 112.0|        low|   low|    0|   0|     0|  120/80|       1|
| 25|21296|     m|   170|  75.0|        low|   low|    0|   0|     0|  130/70|       0|
| 27|16747|     m|   158|  52.0|        low|  high|    0|   0|     1|  110/70|       0|
| 28|17482|     m|   154|  68.0|        low|   low|    0|   0|     0|  100/70|       0|
| 29|21755|     f|   162|  56.0|        low|   low|    1|   0|     1|  120/70|       0|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+
only showing top 20 rows

In [48]:
df.withColumnRenamed('gluc','glucose')

DataFrame[id: int, age: int, gender: string, height: int, weight: double, cholesterol: string, glucose: string, smoke: int, alco: int, active: int, pressure: string, diabetes: int]

In [55]:
df.select(['cholesterol', 'gluc','smoke']).na.drop().describe().show()

+-------+-----------+------+------------------+
|summary|cholesterol|  gluc|             smoke|
+-------+-----------+------+------------------+
|  count|      55115| 55115|             55115|
|   mean|       null|  null|0.0890864555928513|
| stddev|       null|  null|0.2848710786065903|
|    min|       high|  high|                 0|
|    max|     medium|medium|                 1|
+-------+-----------+------+------------------+

In [54]:
df.select(['cholesterol', 'gluc','smoke']).na.drop(how='all').describe().show()

+-------+-----------+------+-------------------+
|summary|cholesterol|  gluc|              smoke|
+-------+-----------+------+-------------------+
|  count|      55199| 55199|              69916|
|   mean|       null|  null| 0.0881486355054637|
| stddev|       null|  null|0.28351296835175943|
|    min|       high|  high|                  0|
|    max|     medium|medium|                  1|
+-------+-----------+------+-------------------+

In [10]:
df.select(['cholesterol', 'gluc','smoke']).na.drop(thresh=2,subset=['cholesterol', 'gluc']).describe().show()

+-------+-----------+------+------------------+
|summary|cholesterol|  gluc|             smoke|
+-------+-----------+------+------------------+
|  count|      55199| 55199|             55115|
|   mean|       null|  null|0.0890864555928513|
| stddev|       null|  null|0.2848710786065903|
|    min|       high|  high|                 0|
|    max|     medium|medium|                 1|
+-------+-----------+------+------------------+

In [18]:
df.select(['cholesterol', 'gluc','smoke'])\
  .na.fill('missing values',['cholesterol', 'gluc'])\
  .describe()\
  .show()

+-------+--------------+--------------+-------------------+
|summary|   cholesterol|          gluc|              smoke|
+-------+--------------+--------------+-------------------+
|  count|         70000|         70000|              69916|
|   mean|          null|          null| 0.0881486355054637|
| stddev|          null|          null|0.28351296835175943|
|    min|          high|          high|                  0|
|    max|missing values|missing values|                  1|
+-------+--------------+--------------+-------------------+

In [19]:
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['smoke'],
    outputCols=['{}_imputed'.format(c) for c in ['smoke']]    
    ).setStrategy('mean')

In [22]:
imputer.fit(df.select(['cholesterol', 'gluc','smoke']))\
       .transform(df.select(['cholesterol', 'gluc','smoke']))\
       .describe().show()

+-------+-----------+------+-------------------+-------------------+
|summary|cholesterol|  gluc|              smoke|      smoke_imputed|
+-------+-----------+------+-------------------+-------------------+
|  count|      55199| 55199|              69916|              70000|
|   mean|       null|  null| 0.0881486355054637|0.08804285714285714|
| stddev|       null|  null|0.28351296835175943| 0.2833592410423808|
|    min|       high|  high|                  0|                  0|
|    max|     medium|medium|                  1|                  1|
+-------+-----------+------+-------------------+-------------------+

In [23]:
df2 = df.select(['gender','height','weight'])

In [27]:
df2.filter((df2['weight']>=70) & (df2['height']<200)).describe().show()

+-------+------+------------------+------------------+
|summary|gender|            height|            weight|
+-------+------+------------------+------------------+
|  count| 41146|             41146|             41146|
|   mean|  null|166.15816847324163| 82.92581077139943|
| stddev|  null| 8.337466428558987|12.017465696416828|
|    min|     f|                55|              70.0|
|    max|     m|               198|             200.0|
+-------+------+------------------+------------------+

In [41]:
from pyspark.sql.functions import col, asc,desc
df2.groupBy('gender').mean().sort(col('avg(height)').desc()).show()

+------+------------------+-----------------+
|gender|       avg(height)|      avg(weight)|
+------+------------------+-----------------+
|     f|169.94789538210054|77.25730690641602|
|     m|161.35561168460356|72.56560509554139|
+------+------------------+-----------------+

In [34]:
df.agg({'weight':'sum'}).show()

+-----------------+
|      sum(weight)|
+-----------------+
|5194398.300000001|
+-----------------+

In [49]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=['age','height'],
                                   outputCol='features')

In [52]:
df3 = featureassembler.transform(df)

In [53]:
df3.show()

+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+---------------+
| id|  age|gender|height|weight|cholesterol|  gluc|smoke|alco|active|pressure|diabetes|       features|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+---------------+
|  0|18393|     f|   168|  62.0|        low|   low|    0|   0|     1|  110/80|       0|[18393.0,168.0]|
|  1|20228|     m|   156|  85.0|       high|   low|    0|   0|     1|  140/90|       0|[20228.0,156.0]|
|  2|18857|     m|   165|  64.0|       high|   low|    0|   0|     0|  130/70|       0|[18857.0,165.0]|
|  3|17623|     f|   169|  82.0|        low|   low|    0|   0|     1| 150/100|       0|[17623.0,169.0]|
|  4|17474|     m|   156|  56.0|        low|   low|    0|   0|     0|  100/60|       0|[17474.0,156.0]|
|  8|21914|     m|   151|  67.0|     medium|medium|    0|   0|     0|  120/80|       1|[21914.0,151.0]|
|  9|22113|     m|   157|  93.0|       high|   low|    0|   0|     1|  130/80|       1|[22113.0,157.0]|
| 12|22584|     f|   178|  95.0|       high|  high|    0|   0|     1|  130/90|       1|[22584.0,178.0]|
| 13|17668|     m|   158|  71.0|        low|   low|    0|   0|     1|  110/70|       0|[17668.0,158.0]|
| 14|19834|     m|   164|  68.0|        low|   low|    0|   0|     0|  110/60|       0|[19834.0,164.0]|
| 15|22530|     m|   169|  80.0|        low|   low| null|   0|     1|  120/80|       0|[22530.0,169.0]|
| 16|18815|     f|   173|  60.0|        low|   low| null|   0|     1|  120/80|       0|[18815.0,173.0]|
| 18|14791|     f|   165|  60.0|        low|   low| null|   0|     0|  120/80|       0|[14791.0,165.0]|
| 21|19809|     m|   158|  78.0|        low|   low| null|   0|     1|  110/70|       0|[19809.0,158.0]|
| 23|14532|     f|   181|  95.0|        low|   low| null|   1|     1|  130/90|       0|[14532.0,181.0]|
| 24|16782|     f|   172| 112.0|        low|   low| null|   0|     0|  120/80|       1|[16782.0,172.0]|
| 25|21296|     m|   170|  75.0|        low|   low| null|   0|     0|  130/70|       0|[21296.0,170.0]|
| 27|16747|     m|   158|  52.0|        low|  high| null|   0|     1|  110/70|       0|[16747.0,158.0]|
| 28|17482|     m|   154|  68.0|        low|   low| null|   0|     0|  100/70|       0|[17482.0,154.0]|
| 29|21755|     f|   162|  56.0|        low|   low| null|   0|     1|  120/70|       0|[21755.0,162.0]|
+---+-----+------+------+------+-----------+------+-----+----+------+--------+--------+---------------+
only showing top 20 rows

In [57]:
ml_data = df3.select('features', 'weight')

In [60]:
ml_data.show()

+---------------+------+
|       features|weight|
+---------------+------+
|[18393.0,168.0]|  62.0|
|[20228.0,156.0]|  85.0|
|[18857.0,165.0]|  64.0|
|[17623.0,169.0]|  82.0|
|[17474.0,156.0]|  56.0|
|[21914.0,151.0]|  67.0|
|[22113.0,157.0]|  93.0|
|[22584.0,178.0]|  95.0|
|[17668.0,158.0]|  71.0|
|[19834.0,164.0]|  68.0|
|[22530.0,169.0]|  80.0|
|[18815.0,173.0]|  60.0|
|[14791.0,165.0]|  60.0|
|[19809.0,158.0]|  78.0|
|[14532.0,181.0]|  95.0|
|[16782.0,172.0]| 112.0|
|[21296.0,170.0]|  75.0|
|[16747.0,158.0]|  52.0|
|[17482.0,154.0]|  68.0|
|[21755.0,162.0]|  56.0|
+---------------+------+
only showing top 20 rows

In [61]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = ml_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='features',labelCol='weight')\
          .fit(train_data)

In [62]:
regressor.coefficients

DenseVector([0.0004, 0.5233])

In [63]:
regressor.intercept

-20.52749800986883

In [64]:
prediction = regressor.evaluate(test_data)

In [66]:
prediction.predictions.show()

C:\ProgramData\Anaconda3\lib\site-packages\pyspark\sql\context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+---------------+------+-----------------+
|       features|weight|       prediction|
+---------------+------+-----------------+
|[10859.0,159.0]|  59.0|67.56444092713329|
|[14275.0,164.0]| 105.0|71.71792053378374|
|[14284.0,156.0]|  70.0|67.53549214625201|
|[14293.0,166.0]| 100.0|72.77263853637814|
|[14293.0,182.0]|  75.0|81.14559389429627|
|[14294.0,172.0]|  74.0|75.91294671686714|
|[14295.0,157.0]|  71.0|68.06375099008861|
|[14297.0,175.0]|  70.0|77.48422561028588|
|[14300.0,168.0]|  96.0|73.82240740500583|
|[14302.0,153.0]|  57.0|  65.973661599497|
|[14303.0,164.0]|  62.0|71.73051832933541|
|[14307.0,165.0]|  65.0| 72.2556277242841|
|[14308.0,166.0]|  44.0|72.77938735542367|
|[14308.0,177.0]|  91.0|78.53579416399236|
|[14309.0,160.0]|  52.0|69.63997901747408|
|[14310.0,156.0]|  62.0|67.54719009926427|
|[14315.0,157.0]|  83.0|68.07274941548266|
|[14315.0,167.0]| 112.0|73.30584651418147|
|[14319.0,158.0]|  60.0|68.59785881043135|
|[14321.0,173.0]|  81.0|76.44840430101897|
+---------------+------+-----------------+
only showing top 20 rows

In [68]:
prediction.meanSquaredError

187.60874223282576

In [69]:
prediction

In [70]:
dir(prediction)

['__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_call_java',
 '_create_from_java_class',
 '_java_obj',
 '_new_java_array',
 '_new_java_obj',
 'coefficientStandardErrors',
 'degreesOfFreedom',
 'devianceResiduals',
 'explainedVariance',
 'featuresCol',
 'labelCol',
 'meanAbsoluteError',
 'meanSquaredError',
 'numInstances',
 'pValues',
 'predictionCol',
 'predictions',
 'r2',
 'r2adj',
 'residuals',
 'rootMeanSquaredError',
 'tValues']